.main_container{
  padding: 20px 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgb(235, 235, 235);
  border: 1px solid rgb(233,233,233);
  margin-bottom: 40px;
}

.main_container p{

}

.date_container{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 10px;
}

.date_container h3{
  font-size: 20px;
  font-weight: bold;
  margin: 0 10px;
  padding-top: 15px;
}
