.success{
  font-size: 14px;
  text-align: center;
  color: green;
  margin-bottom: 10px;
  line-height: 1.4;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}